<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
  <file>D:\\Programming\\eclipse-workspace\\Authorization\\src\\main\\resources\\logs.log</file>
  <append>true</append>
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <logger name="com.github.yury1991.authorization" level="INFO" /> 
  <logger name="com.github.yury1991.authorization.logs" level="INFO" />
  		<appender-ref ref="FILE" /> 
  <logger name="com.github.yury1991.authorization.logs" level="WARN"> 
        <appender-ref ref="FILE" /> 
    </logger>
 
  <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root>
  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>